*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.play{
	width: 100%;
	height: 100vh;
	position: relative;
	text-align: center;
}
.play p{
	position: absolute;
}

/*.tabs{
	width: 300px;
	border: 1px solid #000;
	margin: 0 auto;
	overflow: hidden;
}*/