*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.modal-wrap{
	position: fixed;
	width: 100%;
	height: 100vh;
	background-color: rgba(0,0,0,0.4);
}
.modal-card{
	max-width: 500px;
	width: 96%;
	margin: 0 auto;
	margin-top: 20vh;
	border-radius: 10px;
	background-color: #fff;
	/*animation:mymove 0.5s;*/
}
/*@keyframes mymove {
	from {
		transform:scale(0.8,0.8);
	}
	to {
		transform:scale(1,1);
	}
}*/

.modal-header{
	color: #000;
	border-bottom: 1px solid #ccc;
	overflow: hidden;
	padding: 20px 10px;
}
.modal-header h3{
	float: left;
}
.modal-header span{
	float: right;
}
.modal-body{
	padding: 20px 10px;
	border-bottom: 1px solid #ccc;
}
.modal-control{
	padding: 10px;
	text-align: right;
}